.App 
  text-align: center;

.tab
  cellpadding: 0 
  border: 0 
  width: 100% 
  font-size: 1px
  line-height: normal
  margin-top: 5%

  .td
    align: center
    valign: top
  
    .first
      cellpadding: 0
      border: 0 
      width: 87.9% 
      align: center
      margin: 0 auto
      max-width: 87.9%
      min-width: 87.9%

      .header
        height: 50px 
        line-height: 50px
        font-size: 48px
        align: center
      
    .hello
      font-family: Arial, sans-serif
      font-size: 28px
      line-height: 38px
      color: #191919
      align: center
      left: 20%
      
    .connection
      font-family: Arial, sans-serif
      font-size: 20px
      line-height: 30px
      color: #999999
      align: center
    
    .second
      cellpadding: 0
      border: 0 
      width: 87.9% 
      align: center
      margin: 0 auto
      max-width: 87.9%
      min-width: 87.9%

  .block
    display: inline-block
    width: 500px
    margin-left: 10%
    vertical-align: top  

  .headerS
    height: 10px
    line-height: 20px
    font-size: 18px
  
  .name
    font-family: Arial, sans-serif
    font-size: 28px
    line-height: 38px
    color: #191919

  .info
    font-family: Arial, sans-serif
    font-size: 20px
    line-height: 30px
    color: #191919


